<div class="wrapper">
        <div class="container">
            <h3 class="header center teal-text text-lighten-2"><%= Assistencia.model_name.human %></h3>
        </div>
    </div>
    <div class="container">
        <%= render 'form', assistencia: @assistencia %>
    </div>    