<div class="home-2">
    <div class="container">
        <div class="row">
            <h3 class="header teal-text text-lighten-2"><%= @pagina_5.titulo %></h3>
            <div class="card">
                <div class="card-content">
                 <p><%= raw(@pagina_5.texto) %></p>
                 <% if usuario_signed_in? %>
                 <%= link_to  "Editar", edit_pagina_path(5), class: "btn-large waves-effect waves-light teal lighten-1"  %>
                 <%end%> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <%= render 'form', contato: @contato %>
</div>