<div class="home-2">
    <div class="container">
        <div class="row">
            <h3 class="header teal-text text-lighten-2"><%= t('solicitar') %></h3>
        </div>
    </div>
</div>
<%= render 'form', manutencao: @manutencao %>