<div class="wrapper">
    <div class="container">
        <h3 class="header center teal-text text-lighten-2">Editar</h3>
    </div>
</div>
<div class="container">
    <%= render 'form', quem_somo: @quem_somo %>
</div>    