video{
    position: fixed; 
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    z-index: -1000;
    background-size: cover; 
}
.home{
    overflow: hidden;
    position:absolute; 
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    padding: 1em 0em;
    min-height: 100% !important;
    background: rgba(51, 51, 51, 0.2) !important;
}
.home-video{
    overflow: hidden;
    top:0; 
    left:0; 
    right:0; 
    bottom:0;
    padding: 1em 0em;
    min-height: 100% !important;
    background: rgba(8, 8, 8, 0.699) !important;
}
.welcome{
    margin-top: 50px;
}
.logo{
    width: 500px;
}
.btn-outline {
    color: #ffffff;
    background-color: transparent;
    border-color: #ffffff;
    border: 2px solid;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-outline-inverse {
    color: #fff;
    background-color: transparent;
    border-color: #ffffff;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
    color: #ffffff;
    text-shadow: none;
    background-color: #fff;
    border-color: #fff;
}