<div class="wrapper">
        <div class="container">
            <h3 class="header center teal-text text-lighten-2">Configuração de emails</h3>
        </div>
    </div>
    <div class="container">
        <%= render 'form', email: @email %>
    </div>    